@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Problem encountered.</h1>
<h2 class="text-danger">An unexpected error occurred while processing your request. Show it to the site administrator.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (Model.ShowErrorID)
{
    <p>
        <strong>Error ID:</strong> <code>@Model.ErrorID</code>
    </p>
    <p>
        <strong>Error Message:</strong>  @Model.ErrorMessage
    </p>
}

