@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p style="font-weight:bold">The purpose of this site is to showcase fully modern authentication schemes.</p>
<hr />
<p>Passwords are still enabled on this site, but reliance only on them has been found to be inadequate.</p>
<p>The two-factor support of timed one time password (totp) of the type that was initiated by the Security Dynamics tokens is enabled for all mobile devices.</p>
<p>Late binding tokens of the type supported by the FIDO U2F protocol are showcased.</p>
<p>Distributed ID (DID) also called sovereign identity</p>

<h2>Privacy Statement</h2>

<p>This site uses cookies for a consistent user experience and to maintain sign in information if it is used.</p>

<p>
    The privacy of the user name is not provided here, so if you do not wish your comments to be
    identified with you, you should select a user name that cannot be linked to you. We do not share any information from this site with any
    other organization in any way that is not obvious to all who come here.
</p>

