@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    IDESG team in<br />
    Seattle, WA <br />
    <abbr title="Phone">P:</abbr>
    n/a
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Jerry@ca0.net">Jerry@ca0.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Jerry@ca0.net">Jerry@ca0.net</a>
</address>
